.nav-at {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #0c74d4;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 40px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
.nav-at .navbar-brand {
  font-family: arial;
}
.nav-at ul:nth-of-type(1) {
  display: flex;
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}
.nav-at ul:nth-of-type(1) li a {
  color: white;
  font-weight: 600;
  font-size: 1.3rem;
}
.nav-at ul:nth-of-type(2) {
  display: none;
}
@media (max-width: 884px) {
  .nav-at ul:nth-of-type(1) {
    display: none;
  }
  .nav-at ul:nth-of-type(2) {
    width: 30vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.2rem;
  }
  .nav-at ul:nth-of-type(2) li a {
    color: #f3f3f3;
  }
}

header {
  background-image: url(../img/tangerang-selatan.jpg);
  height: 600px;
  background-size: cover;
}
header img.logo.tangsel {
  width: 300px;
  padding-top: 90px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media (max-width: 600px) {
  header {
    height: 540px;
  }
}

.tombol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tombol a.button {
  margin: auto;
  width: 95px;
  color: white;
  font-family: arial;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 2rem;
  background-color: #0c74d4;
  border-radius: 40px;
  transition: 0.5s;
  border: 3px solid white;
  margin-top: 12rem;
  margin-bottom: 1.8rem;
}
.tombol a.button:hover {
  color: #0c74d4;
  background-color: white;
  border: 3px solid #0c74d4;
}

table {
  color: white;
  margin-right: auto;
  margin-left: auto;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 6rem;
  text-align: center;
}
table thead {
  background-color: #0c74d4;
}
table thead,
table td {
  padding: 20px 20px;
}

table,
thead,
td {
  border: 2px solid white;
  border-collapse: collapse;
  border-spacing: 10px;
}

#daftar-tempat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 150px;
}
#daftar-tempat .card {
  width: 60vmin;
  margin-top: 20px;
  background-color: #f3f3f3;
  margin: 30px;
}
#daftar-tempat .card img {
  width: 100%;
  height: auto;
}
#daftar-tempat .card .card-body {
  padding: 20px;
  font-family: arial;
  text-align: center;
}
#daftar-tempat .card .card-body h2 {
  color: #0c74d4;
  margin-bottom: 40px;
}
#daftar-tempat .card .card-body a {
  background-color: #0c74d4;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 600;
  color: #f3f3f3;
}

footer {
  display: flex;
  justify-content: space-around;
  color: #f3f3f3;
  background-color: #0c74d4;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
}
footer h2 {
  text-transform: capitalize;
  font-size: 1.4rem;
  font-family: Arial;
}
footer .follow {
  display: block;
}
footer .follow h2 {
  margin-bottom: 12px;
}
footer .follow a {
  color: #f3f3f3;
  line-height: 26.4px;
  font-size: 1.2rem;
}

form {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 100px auto;
  padding: 20px 20px;
  background-color: #f3f3f3;
  color: #0c74d4;
  font-weight: bold;
}
form h2 {
  margin-bottom: 1.2rem;
  font-family: Georgia;
}
form label {
  font-family: arial;
  display: block;
  margin-bottom: 1rem;
}
form input {
  display: block;
  margin-bottom: 1.2rem;
  font-family: arial;
  font-size: 1.2rem;
}
form input:required:invalid {
  border: 3px solid red;
}
form input:required:valid {
  border: 3px solid green;
}
form .tombol1 {
  display: flex;
}
form .button-container {
  display: flex;
  gap: 10px;
}
form .button-container button {
  background-color: #0c74d4;
  font-weight: bold;
  border: none;
  width: 100px;
  font-size: 1rem;
  color: #f3f3f3;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: #545454;
  overflow-x: hidden;
}

#about {
  display: flex;
  text-align: center;
  color: #f3f3f3;
  padding-top: 100px;
  flex-direction: column;
  justify-content: center;
}
#about h2 {
  font-size: 1.8rem;
  font-family: arial;
  margin-bottom: 1.8rem;
}
#about p {
  font-size: 1.5rem;
}/*# sourceMappingURL=style.css.map */