@use "color";
#daftar-tempat {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 150px;
  .card {
    width: 60vmin;
    margin-top: 20px;
    background-color: #f3f3f3;
    margin: 30px;
    img {
      width: 100%;
      height: auto;
    }
    .card-body {
      padding: 20px;
      font-family: arial;
      text-align: center;
      h2 {
        color: color.$blue;
        margin-bottom: 40px;
      }
      a {
        background-color: color.$blue;
        padding: 10px 20px;
        border-radius: 20px;
        font-weight: 600;
        color: #f3f3f3;
      }
    }
  }
}
