@use "color";
footer {
  display: flex;
  justify-content: space-around;
  color: #f3f3f3;
  background-color: color.$blue;
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: center;
  h2 {
    text-transform: capitalize;
    font-size: 1.4rem;
    font-family: Arial;
  }
  .follow {
    display: block;
    h2 {
      margin-bottom: 12px;
    }
    a {
      color: #f3f3f3;
      line-height: calc(1.2px * 22);
      font-size: 1.2rem;
    }
  }
}
