@use "color";

.tombol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a.button {
    margin: auto;
    width: 95px;
    color: white;
    font-family: arial;
    text-align: center;
    font-weight: bold;
    padding: 0.5rem 2rem;
    background-color: color.$blue;
    border-radius: 40px;
    transition: 0.5s;
    border: 3px solid white;
    margin-top: 12rem;
    margin-bottom: 1.8rem;
  }

  a.button:hover {
    color: color.$blue;
    background-color: white;
    border: 3px solid color.$blue;
  }
}
